   body {
     background-image: url(../assets/back\ ground\ pic\ new.png);
   }

   .image_1 {
     background-color: rgb(63, 61, 61);
     padding-top: 10px;
     border: 2px solid black;
     border-radius: 10px;
     width: 1450px;
     margin: 10px;
     display: flex;
     justify-content: end;


   }

   nav>div>a {
     padding-left: 50px;
     padding-right: 10px;
   }

   button {
     width: 100px;
     height: 50px;
     font-size: 30px;
     border-radius: 10px;
     background-color: rgb(236, 108, 10);
     color: rgb(12, 12, 14);
   }

   .button-profile {
     width: 50px;
     height: 50px;
     border: 2px solid black;
     border-radius: 50px;
     margin-right: 20px;
     background-color: rgb(255, 98, 0);

   }

   body>main>div>a>img {
     border: solid 2px;
     border-radius: 100px;
     border-color: black;
     padding: 10px;
     margin-left: 55px;
     margin-right: 60px;
     background-color: white;
   }

   nav>div>img {
     padding-right: 720px;
     padding-left: 10px;

   }

   .image_2 {
     border: 2px solid black;
     border-radius: 25px;
     margin: 10px;
   }

   .image_alin_item {
     border: 3px solid black;
     border-radius: 25px;
     margin: 20px;
     color: aliceblue;
     position: relative;

   }

   .image_alin_item:hover {
     transform: scale(1.05);
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(5, 4, 4, 0.726) 0px 15px 12px;
     background-color: rgb(162, 155, 155);
     color: rgb(19, 20, 20);

   }

   .image_frame {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 100px;

     padding: 10px;
     border-radius: 10px;
     font-size: 200%;
     text-align: center;
     position: relative;
   }

   .image-3 {
     border: 2px solid black;
     border-radius: 300px;
     margin: 20px 550px 20px 575px;

   }

   .text-1 {
     margin: 30px 500px 30px 650px;
     font-size: 50px;
     color: aliceblue;
   }

   .footer {
     background-color: rgb(116, 109, 109);
     padding: 40px 20px;
     font-family: Arial, sans-serif;
   }

   .footer-container {
     display: flex;
     gap: 200px;
     justify-content: center;

   }



   .footer-section ul {
     list-style: none;
     padding: 0;
     margin: 0;
     line-height: 1.8;
     color: #555;
   }

   .footer-section ul li {
     margin-bottom: 8px;
     cursor: pointer;
   }

   .footer-section ul li:hover {
     color: #d35400;
   }

   .footer-bottom {
     text-align: center;
     margin-top: 30px;
     font-size: 14px;
     color: #777;
   }
   
    @media screen and (min-width :420px) and (max-width:781px){
        body {
     background-image: url(/assets/back\ ground\ pic\ new.png);
   }

   .image_1 {
     background-color: rgb(63, 61, 61);
     padding-top: 10px;
     border: 2px solid black;
     border-radius: 10px;
     width: 1450px;
     margin: 10px;
     display: flex;
     justify-content: start;


   }

   nav>div>a {
     padding-left: 20px;
     padding-right: 10px;
   }

   button {
     width: 85px;
     height: 50px;
     font-size: 30px;
     border-radius: 10px;
     background-color: rgb(236, 108, 10);
     color: rgb(12, 12, 14);
   }

   .button-profile {
     width: 50px;
     height: 50px;
     border: 2px solid black;
     border-radius: 50px;
     margin-right: 10px;
     background-color: rgb(255, 98, 0);

   }

   body>main>div>a>img {
     border: solid 2px;
     border-radius: 100px;
     border-color: black;
     padding: 10px;
     margin-left: 55px;
     margin-right: 60px;
     background-color: white;
   }

   nav>div>img {
     padding-right: 20px;
     padding-left: 10px;

   }

   .image_2 {
     border: 2px solid black;
     border-radius: 25px;
     margin: 10px;
   }

   .image_alin_item {
     border: 3px solid black;
     border-radius: 25px;
     margin: 20px;
     color: aliceblue;
     position: relative;

   }

   .image_alin_item:hover {
     transform: scale(1.05);
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(5, 4, 4, 0.726) 0px 15px 12px;
     background-color: rgb(162, 155, 155);
     color: rgb(19, 20, 20);

   }

   .image_frame {
     display: flex;
     justify-content: start;
     flex-wrap: wrap;
     gap: 100px;

     padding: 10px;
     border-radius: 10px;
     font-size: 200%;
     text-align: center;
     position: relative;
   }

   .image-3 {
     border: 2px solid black;
     border-radius: 300px;
     margin: 20px 50px 20px 55px;

   }

   .text-1 {
     margin: 30px 50px 30px 150px;
     font-size: 50px;
     color: aliceblue;
   }

   .footer {
     background-color:  rgb(116, 109, 109);
     padding: 40px 20px;
     font-family: Arial, sans-serif;
   }

   .footer-container {
     display: flex;
     gap: 200px;
     justify-content: center;

   }



   .footer-section ul {
     list-style: none;
     padding: 0;
     margin: 0;
     line-height: 1.8;
     color: #555;
   }

   .footer-section ul li {
     margin-bottom: 8px;
     cursor: pointer;
   }

   .footer-section ul li:hover {
     color: #d35400;
   }

   .footer-bottom {
     text-align: center;
     margin-top: 30px;
     font-size: 14px;
     color: #777;
   } 
    }