 .image_1 {
     background-color: rgb(249, 249, 249);
     padding-top: 10px;
     border: 2px solid black;
     border-radius: 10px;
     width: 1450px;
     margin: 10px;
     display: flex;
     justify-content: end;
 }

 nav>div>a {
     padding-left: 100px;
     padding-right: 10px;
 }

 button {
     width: 150px;
     height: 50px;
     font-size: 30px;
     border-radius: 10px;
     background-color: rgb(199, 103, 29);
     color: black;
 }

 nav>div>img {
     padding-right: 600px;

 }

 .card {
     display: flex;
     align-items: center;
     background-color: #ddd;
     padding: 15px;
     margin-bottom: 20px;
 }


 .card img {
     border: 5px solid rgb(21, 21, 20);
     border-radius: 25px;
     margin-right: 15px;
 }

 footer>div {
     background-color: rgb(243, 243, 250);
     color: rgb(29, 30, 31);
     padding: 10px;
     display: flex;
     place-content: center;
     gap: 200px;
     margin-top: 20px;
 }

 ul {
     list-style: none;
 }
 @media screen and (min-width :420px) and (max-width:781px){
     .image_1 {
     background-color: rgb(249, 249, 249);
     padding-top: 10px;
     border: 2px solid black;
     border-radius: 10px;
     width: 1450px;
     margin: 10px;
     display: flex;
     justify-content: start;
 }

 nav>div>a {
     padding-left: 50px;
     padding-right: 0px;
 }

 button {
     width: 100px;
     height: 50px;
     font-size: 30px;
     border-radius: 10px;
     background-color: rgb(199, 103, 29);
     color: black;
 }

 nav>div>img {
     padding-right: 20px;

 }

 .card {
     display: flex;
     align-items: center;
     background-color: #ddd;
     padding: 15px;
     margin-bottom: 20px;
 }


 .card img {
     border: 5px solid rgb(21, 21, 20);
     border-radius: 25px;
     margin-right: 15px;
 }

 footer>div {
     background-color: rgb(243, 243, 250);
     color: rgb(29, 30, 31);
     padding: 10px;
     display: flex;
     place-content: center;
     gap: 200px;
     margin-top: 20px;
 }

 ul {
     list-style: none;
 }
 }